body {
    background-color: #171717;
}

.aoelogo{
position: relative ;
width:400px;
display: inline-block;
}

.header{
    text-align: center;
    margin-top: 30px;
}

.content{
    text-align: center;
}

.welcome{
    text-align: center;
    background: linear-gradient(-55deg,  #ff0000, #23A6D5, #23D5AB);
    animation: change 5s ease-in-out infinite;
    background-size: 400% 400%;
    margin-top: 50px;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    display: inline-block;
}

.user{
    width: 300px;
    border-radius: 15px;
    padding: 5px;
}


.bergüßung{
    font-size: 15px;
    font-family: Arial Black;
}

.startbtn{
    font-family: Arial Black;
    margin-top: 20px;
    border-radius: 15px;
}

.startbtn:hover{
    background-color: #23D5AB;
   
    transform:scale(1.2)
}



@media all  and (max-width: 600px){
    .aoelogo{
        position: relative ;
        width:80%;
        display: inline-block;
    }

    .welcome{
        text-align: center;
        background: linear-gradient(-55deg,  #ff0000, #23A6D5, #23D5AB);
        animation: change 5s ease-in-out infinite;
        background-size: 400% 400%;
        margin-top: 50px;
        padding: 20px;
        width: 85%;
        border-radius: 10px;
        display: inline-block;
    }
}





@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;

    }
    100%{
        background-position: 0 50%;
    }
}
